@model AdminUserViewModel
@using Mvc6Project.Controllers
@using System.Globalization

<table class="userDetails">
    @{
        var totalUsers = AdminController.usrList.ToList().Count();
        int num = 0;
    }

    <tr>
        <td colspan="4" style="border-top:none;border-bottom:none;">
            <form asp-controller="Admin" asp-action="Index" method="get">
                <label>UserName: </label>
                @if (AdminController.AdmNameSrch != null)
                {
                    <input type="text" name="searchString" value="@AdminController.AdmNameSrch" />
                }
                else
                {
                    <input type="text" name="searchString" />
                }
                <input type="submit" value="Search" />
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="border-top:none;">
            @{
                var roles = AdminController.roleList;
            }
            @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
            {
                if (AdminController.AdmRankSrch != null)
                {
                    foreach (var item in roles)
                    {
                        if (item.Value == AdminController.AdmRankSrch)
                        {
                            item.Selected = true;
                            break;
                        }
                    }
                    ViewBag.RoleList = roles;
                    @Html.DropDownList("searchRank", (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "mnginp", onchange = "this.form.submit()" })
                }
                else
                {
                    ViewBag.RoleList = roles;
                    @Html.DropDownList("searchRank", (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "mnginp", onchange = "this.form.submit()" })
                }
            }
        </td>
    </tr>

    <tr>
        <td colspan="4" style="border-top:none;">Total Users : @totalUsers</td>
    </tr>
    <tr>
        <th class="tblnum"></th>
        <th>@Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UsernameSortParm })</th>
        <th>@Html.ActionLink("Rank", "Index", new { sortOrder = ViewBag.RankSortParm })</th>
        <th>Edit</th>
    </tr>
    @foreach (var usr in AdminController.usrList)
    {
        ViewBag.UserName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(usr.UserName);
        ViewBag.UserFullName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(usr.UserFullName);
        num++;
        <tr>
            <td class="tblnum">@num</td>
            <td title="@ViewBag.UserFullName">@ViewBag.UserName</td>
            <td>@usr.RankName</td>
            <td>
                <form asp-controller="Admin" asp-action="EditUser" method="post" class="form-horizontal" role="form">
                    <input type="hidden" name="id" value="@usr.UserId" />
                    <input type="submit" class="btn-default btn" value="~" />
                </form>
            </td>
        </tr>
    }
</table>
